@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

$primary: #323ec8;

:root {
  --bs-body-bg: #fafbff;
  --bs-border-radius: 16px;
  --bs-box-shadow: 0 0 10px #323ec833;
  --bs-link-color: black;

  --bs-btn-bg: #ebecfa;
  --bs-font-sans-serif: 'Red Hat Display';
}

.list-card {
  height: 180px;

  .list-card-image {
    height: 100%;
    overflow: hidden;
  }
}

h2 {
  a {
    color: $body-color;

    &:hover {
      color: $primary;
    }
  }
}

@include media-breakpoint-down(md) {
  .list-card {
    height: 270px;

    .list-card-image {
      height: 140px;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }

  .padding-md-0 {
    padding: 0;
  }

  .detail-image,
  .details-page .card {
    border-radius: 0 !important;
  }
}

.nav {
  .nav-item:last-child {
    margin-bottom: 0 !important;
  }
}

.nav-item {
  .btn-primary {
    background: none;
    height: 44px;
    i {
      margin-right: 14px;
    }

    &:hover {
      background: #ebecfa;
      color: $primary;
    }
  }
}

.btn-lg {
  height: 60px;
}

.btn-primary {
  color: $primary;
  background: #ebecfa;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border: 0;

  &.active {
    font-weight: 700;
    background: #ebecfa;
    color: $primary;
  }
}

.btn-secondary {
  color: white;
  background: $primary;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border: 0;

  &.active {
    font-weight: 700;
    background: #ebecfa;
    color: $primary;
  }
}

.app {
  min-height: 100vh;
}
