:root {
  --bs-body-bg: #fafbff;
  --bs-border-radius: 16px;
  --bs-box-shadow: 0 0 100px #323ec833;
}

.app {
  min-height: 100vh;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
